<div class="jumbotron text-center">
  <h1>Cats list by owner gender</h1>
</div>

<div class="container">
  <div class="row">
        <div class="col-sm-2" ></div>
        <ng-container *ngIf="!HasError; else onError">
          <app-pets *ngFor="let petData of petsForGender" [pets]="petData"></app-pets>
        </ng-container>
        <ng-template #onError>
          <div class="col-sm-8 alert alert-danger" >
            <strong>Error loading data!</strong>
          </div>  
        </ng-template>
        <div class="col-sm-2" ></div>
  </div>
</div>